.hide{
    display: none ;
}
.vision {
    display: block;
}
.user {
    background-color: #cce524;
    margin-bottom: 10px;
}

.but {
    background-color: #922b73;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
}
.title {
    background-color: #632980;
    width: 19%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0.5%;
    flex-wrap: wrap;

}
button{
    background-color: grey;
}
.wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}