.hide{
    display: none ;
}
.vision {
    display: block;
}
.user {
    margin-bottom: 10px;
    border: 1px solid black;
}

.but {
    background-color: #922b73;
    width: 90%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
}
.title {
    border: 1px solid black;
    width: 18.5%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0.5%;
    flex-wrap: wrap;

}
button{
    background-color: grey;
}
.wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0.8%;

}